<!DOCTYPE html>
<!--[if IE 9 ]>    <html class="ie9" lang="en" ng-app="ultra"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" ng-app="ultra">
<!--<![endif]-->

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="description" content="{{app.description}}">
   <meta name="keywords" content="app, responsive, angular, bootstrap, dashboard, admin">
   <title data-ng-bind="pageTitle()"></title>
   <link rel="icon" type="image/png" href="app/img/favicon.png">
   <!-- build:css app/css/application.css-->
   <link rel="stylesheet" href="app/css/bootstrap.css">
   <link rel="stylesheet" href="vendor/angular-busy/dist/angular-busy.css">
   <link rel="stylesheet" href="vendor/ng-table/dist/ng-table.css">
   <link id="mainstyles" rel="stylesheet" href="app/css/styles.css">
   <!-- endbuild-->
</head>

<body ng-cloak="" ng-class="{ 'layout-fixed' : app.layout.isFixed, 'layout-boxed' : app.layout.isBoxed, 'layout-dock' : app.layout.isDocked, 'layout-material': app.layout.isMaterial, 'aside-offscreen' : app.sidebar.isOffscreen, 'aside-mini' : app.sidebar.isMini, 'aside-right' : app.sidebar.isRight, 'footer-hidden': app.footer.hidden, 'in-app': !$state.includes('page')}">
   <toaster-container></toaster-container>
   <div data-ui-view="" data-autoscroll="false" ng-controller="CoreController" class="app-container"></div>
   <!-- build:vendor app/js/vendor.js-->
   <script src="vendor/modernizr/modernizr.custom.js"></script>
   <script src="vendor/angular/angular.js"></script>
   <script src="vendor/angular-route/angular-route.js"></script>
   <script src="vendor/angular-cookies/angular-cookies.js"></script>
   <script src="vendor/angular-animate/angular-animate.js"></script>
   <script src="vendor/angular-touch/angular-touch.js"></script>
   <script src="vendor/angular-sanitize/angular-sanitize.js"></script>
   <script src="vendor/angular-resource/angular-resource.js"></script>
   <script src="vendor/angular-translate/angular-translate.js"></script>
   <script src="vendor/ngstorage/ngStorage.js"></script>
   <script src="vendor/angular-ui-router/release/angular-ui-router.js"></script>
   <script src="vendor/angular-ui-utils/index.js"></script>
   <script src="vendor/angular-ui-mask/dist/mask.js"></script>
   <script src="vendor/angular-ui-event/dist/event.js"></script>
   <script src="vendor/angular-ui-validate/dist/validate.js"></script>
   <script src="vendor/angular-ui-indeterminate/dist/indeterminate.js"></script>
   <script src="vendor/angular-ui-scrollpoint/dist/scrollpoint.js"></script>
   <script src="vendor/angular-ui-scroll/dist/ui-scroll.js"></script>
   <script src="vendor/angular-ui-uploader/dist/uploader.js"></script>
   <script src="vendor/angular-translate-loader-url/angular-translate-loader-url.js"></script>
   <script src="vendor/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
   <script src="vendor/angular-translate-storage-local/angular-translate-storage-local.js"></script>
   <script src="vendor/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
   <script src="vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
   <script src="vendor/oclazyload/dist/ocLazyLoad.js"></script>
   <script src="vendor/angular-busy/dist/angular-busy.js"></script>
   <script src="vendor/ng-table/dist/ng-table.js"></script>
   <script src="vendor/angular-loading-bar/build/loading-bar.js"></script>
   <script src="vendor/angularjs-toaster/toaster.js"></script>
   <!-- endbuild-->
   <!-- build:js app/js/application.js-->
   <script src="src/js/app.config.js"></script>
   <script src="src/js/app.filters.js"></script>
   <script src="src/js/app.module.js"></script>
   <script src="src/js/custom/account/account.js"></script>
   <script src="src/js/custom/account/login.controller.js"></script>
   <script src="src/js/custom/account/logout.controller.js"></script>
   <script src="src/js/custom/account/settings.controller.js"></script>
   <script src="src/js/custom/account/signup.controller.js"></script>
   <script src="src/js/custom/business-subscriptions/business-subscriptions.config.js"></script>
   <script src="src/js/custom/business-subscriptions/business-subscriptions.controller.js"></script>
   <script src="src/js/custom/business-subscriptions/business-subscriptions.service.js"></script>
   <script src="src/js/custom/businesses/businesses.config.js"></script>
   <script src="src/js/custom/businesses/businesses.controller.js"></script>
   <script src="src/js/custom/businesses/businesses.service.js"></script>
   <script src="src/js/custom/cloud-notifications/cloud-notifications.config.js"></script>
   <script src="src/js/custom/cloud-notifications/cloud-notifications.controller.js"></script>
   <script src="src/js/custom/cloud-notifications/cloud-notifications.service.js"></script>
   <script src="src/js/custom/configurations/configurations.config.js"></script>
   <script src="src/js/custom/configurations/configurations.controller.js"></script>
   <script src="src/js/custom/configurations/configurations.service.js"></script>
   <script src="src/js/custom/curl-requests/curl-requests.config.js"></script>
   <script src="src/js/custom/curl-requests/curl-requests.controller.js"></script>
   <script src="src/js/custom/curl-requests/curl-requests.service.js"></script>
   <script src="src/js/custom/dashboard/dashboard.controller.js"></script>
   <script src="src/js/custom/dashboards/dashboards.config.js"></script>
   <script src="src/js/custom/dashboards/dashboards.controller.js"></script>
   <script src="src/js/custom/discounts/discounts.config.js"></script>
   <script src="src/js/custom/discounts/discounts.controller.js"></script>
   <script src="src/js/custom/discounts/discounts.service.js"></script>
   <script src="src/js/custom/fwok-objects/label.directive.js"></script>
   <script src="src/js/custom/fwok-objects/link.directive.js"></script>
   <script src="src/js/custom/hooks/hooks.config.js"></script>
   <script src="src/js/custom/hooks/hooks.controller.js"></script>
   <script src="src/js/custom/hooks/hooks.service.js"></script>
   <script src="src/js/custom/log-files/log-files.config.js"></script>
   <script src="src/js/custom/log-files/log-files.controller.js"></script>
   <script src="src/js/custom/log-files/log-files.service.js"></script>
   <script src="src/js/custom/payments/payments.config.js"></script>
   <script src="src/js/custom/payments/payments.controller.js"></script>
   <script src="src/js/custom/payments/payments.service.js"></script>
   <script src="src/js/custom/subscriptions/subscriptions.config.js"></script>
   <script src="src/js/custom/subscriptions/subscriptions.controller.js"></script>
   <script src="src/js/custom/subscriptions/subscriptions.service.js"></script>
   <script src="src/js/custom/system-info/system-info.config.js"></script>
   <script src="src/js/custom/system-info/system-info.controller.js"></script>
   <script src="src/js/custom/system-info/system-info.service.js"></script>
   <script src="src/js/custom/traces/traces.config.js"></script>
   <script src="src/js/custom/traces/traces.controller.js"></script>
   <script src="src/js/custom/traces/traces.service.js"></script>
   <script src="src/js/custom/users/users.config.js"></script>
   <script src="src/js/custom/users/users.controller.js"></script>
   <script src="src/js/custom/users/users.service.js"></script>
   <script src="src/js/custom/utils/utils.factory.js"></script>
   <script src="src/js/modules/_dashboards/dashboards.config.js"></script>
   <script src="src/js/modules/_dashboards/dashboards.controller.js"></script>
   <script src="src/js/modules/auth/auth.service.js"></script>
   <script src="src/js/modules/colors/colors.constant.js"></script>
   <script src="src/js/modules/colors/colors.run.js"></script>
   <script src="src/js/modules/colors/colors.service.js"></script>
   <script src="src/js/modules/common/directives/animate-enabled.directive.js"></script>
   <script src="src/js/modules/common/directives/chained-animation.directive.js"></script>
   <script src="src/js/modules/common/directives/check-all-table.directive.js"></script>
   <script src="src/js/modules/common/directives/fullscreen.directive.js"></script>
   <script src="src/js/modules/common/directives/link-object.directive.js"></script>
   <script src="src/js/modules/common/directives/reset-key.directive.js"></script>
   <script src="src/js/modules/common/filters/is-empty.filter.js"></script>
   <script src="src/js/modules/common/filters/title-case.filter.js"></script>
   <script src="src/js/modules/common/filters/to-html.filter.js"></script>
   <script src="src/js/modules/common/services/browser-detection.service.js"></script>
   <script src="src/js/modules/common/services/support.service.js"></script>
   <script src="src/js/modules/common/services/touch-drag.service.js"></script>
   <script src="src/js/modules/core/config.js"></script>
   <script src="src/js/modules/core/constants.js"></script>
   <script src="src/js/modules/core/core.controller.js"></script>
   <script src="src/js/modules/core/core.run.js"></script>
   <script src="src/js/modules/exception/exception-handler.provider.js"></script>
   <script src="src/js/modules/exception/exception.factory.js"></script>
   <script src="src/js/modules/httpHandlers/http-handlers.config.js"></script>
   <script src="src/js/modules/httpHandlers/http-handlers.factory.js"></script>
   <script src="src/js/modules/icons/climacon.directive.js"></script>
   <script src="src/js/modules/layout/header-nav.controller.js"></script>
   <script src="src/js/modules/layout/ui-sidebar.directive.js"></script>
   <script src="src/js/modules/loadingbar/loadingbar.config.js"></script>
   <script src="src/js/modules/loadingbar/loadingbar.run.js"></script>
   <script src="src/js/modules/logger/logger.factory.js"></script>
   <script src="src/js/modules/ripple/ripple.directive.js"></script>
   <script src="src/js/modules/routes/routes.config.js"></script>
   <script src="src/js/modules/routes/routes.provider.js"></script>
   <script src="src/js/modules/routes/routes.run.js"></script>
   <script src="src/js/modules/routes/vendor.constants.js"></script>
   <script src="src/js/modules/settings/settings.controller.js"></script>
   <script src="src/js/modules/settings/settings.provider.js"></script>
   <script src="src/js/modules/settings/settings.service.js"></script>
   <script src="src/js/modules/translator/translator.config.js"></script>
   <script src="src/js/modules/translator/translator.service.js"></script>
   <script src="src/js/modules/user/user.service.js"></script>
   <script src="app/js/templates.js"></script>
   <!-- endbuild-->
</body>

</html>