<content>
   <div class="app-view-header">{{headerTile}}
      <small>{{headerSubTile}}</small>
   </div>
   <!-- START panel-->
   <div class="container-fluid">
      <table id="notifications-table" cg-busy="busy" ng-table="tableParams" show-filter="userPreferences.tables.showFilter" class="table table-hover table-condensed">
         <tr ng-repeat="notification in $data" ng-click="go(notification,$event)">
            <td data-title="'ID'" filter="{ 'id': 'number'}" sortable="'id'">{{notification.id}}</td>
            <td data-title="'Request Curl Id'" filter="{ 'requestCurlId': 'text'}" sortable="'requestCurlId'">{{notification.requestCurlId}}</td>
            <td data-title="'User Device'" filter="{ 'usersDevice': 'text'}">{{notification.usersDevice}}</td>
            <td data-title="'Created At'" filter="{ 'createdAt': 'text'}" sortable="'createdAt'">{{notification.createdAt}}</td>
         </tr>
      </table>
   </div>
</content>