<content>
   <div class="app-view-header">{{headerTile}}
      <small>{{headerSubTile}}</small>
   </div>
   <!-- START panel-->
   <div cg-busy="busy" class="container-fluid">
      <dl class="dl-horizontal">
         <dt>ID</dt>
         <dd>{{cloudNotification.id}}</dd>
         <dt>requestCurlId</dt>
         <dd>{{cloudNotification.requestCurlId}}</dd>
         <dt>Request Curl</dt>
         <dd>
            <pre>{{cloudNotification.requestCurl|json}}</pre>
         </dd>
         <dt>Users Device</dt>
         <dd>
            <pre>{{cloudNotification.usersDevice|json}}</pre>
         </dd>
         <dt>Created At</dt>
         <dd>{{cloudNotification.createdAt}}</dd>
      </dl>
   </div>
</content>