content
    .app-view-header {{headerTile}}
        small {{headerSubTile}}
    // START panel
    .container-fluid
        table#filess-table.table.table-hover.table-condensed(cg-busy='busy' ng-table='tableParams')
            tr(ng-repeat="file in $data" ng-click="go(file,$event)")
                td(data-title="'Name'" filter="{ 'name': 'text'}" sortable="'name'")
                    |{{file.name}}
                td(data-title="'Size'")
                    |{{file.size}}
                td
                    btn.btn.btn-danger.btn-xs(ng-click="delete($index,$event)") Delete