content
    .app-view-header {{headerTile}}
        small {{headerSubTile}}
    // START panel
    .container-fluid(cg-busy="busy")
        ol
            li(ng-repeat="line in logContent track by $index") {{line}}