content
    .app-view-header {{headerTile}}
        small {{headerSubTile}}
    // START panel
    .container-fluid
        table#subscriptions-table.table.table-hover.table-condensed(cg-busy='busy' ng-table='tableParams')
            tr(ng-repeat="(key,val) in $data")
                td.text-center(data-title="'Key'" filter="{ 'key': 'text'}" sortable="'key'")
                    |{{key}}
                td.text-center(data-title="'Value'" filter="{ 'val': 'text'}" sortable="'val'")
                    |{{val}}