content
    .app-view-header {{headerTile}}
        small {{headerSubTile}}
    // START panel
    .container-fluid
        table#payments-table.table.table-hover.table-condensed(cg-busy='busy', ng-table='tableParams',show-filter='userPreferences.tables.showFilter')
            tr(ng-repeat="payment in $data" ng-click="go(payment,$event)")
                td(data-title="'ID'" filter="{ 'id': 'number'}" sortable="'id'")
                    |{{payment.id}}
                td(data-title="'Value'" filter="{ 'value': 'number'}" sortable="'value'")
                    | {{payment.value|number:2}} {{payment.currencyCode}}
                td(data-title="'Status'" filter="{ 'status': 'text'}" sortable="'status'")
                    |{{payment.status}}
                td(data-title="'Method'" filter="{ 'method': 'text'}" sortable="'method'")
                    |{{payment.method}}
                td(data-title="'Discount'" filter="{ 'discount.name': 'text'}" sortable="'discount.name'")
                    |{{payment.discount.name}}
                td(data-title="'Created At'" filter="{ 'createdAt': 'text'}" sortable="'createdAt'")
                    |{{payment.createdAt}}
                td(data-title="'Updated At'" filter="{ 'updatedAt': 'text'}" sortable="'updatedAt'")
                    |{{payment.updatedAt}}