content
    .app-view-header {{headerTile}}
        small {{headerSubTile}}
    // START panel
    .container-fluid(cg-busy="busy")
        dl.dl-horizontal
            dt ID
            dd {{payment.id}}
            dt Method
            dd {{payment.method}}
            dt Value
            dd {{payment.value}} {{payment.currencyCode}}
            dt External Token
            dd {{payment.externalToken}}
            dt Status
            dd {{payment.status}}
            dt Business Subscription
            dd
                link-object(object='payment.businessSubscription') {{payment.businessSubscription.id}}
            dt Created At
            dd {{payment.createdAt}}
            dt Updated At
            dd {{payment.updatedAt}}

        button(ng-click='refreshStatus()') Update Status
        pre {{statusResponse|json}}