content
    .app-view-header {{headerTile}}
        small {{headerSubTile}}
    // START panel
    .container-fluid(cg-busy="busy")
        dl.dl-horizontal
            dt ID
            dd {{subscription.id}}
            dt Active
            dd {{subscription.active}}
            dt Allow Legacy Renew
            dd {{subscription.allowLegacyRenew}}
            dt Billing Frequency
            dd {{subscription.billingFrequency}}
            dt Billing Period
            dd {{subscription.billingPeriod}}
            dt Currency Code
            dd {{subscription.currencyCode}}
            dt Courtesy
            dd {{subscription.courtesy}}
            dt Code
            dd {{subscription.code}}
            dt Description
            dd {{subscription.description}}
            dt Name
            dd {{subscription.name}}
            dt Type
            dd {{subscription.type}}
            dt Features
            dd(ng-repeat='feature in subscription.features')
                | {{feature.description}} ({{feature.key}}) - {{feature.value}}
            dt Created At
            dd {{subscription.createdAt}}
            dt Updated At
            dd {{subscription.updatedAt}}