content
    .app-view-header {{headerTile}}
        small {{headerSubTile}}
    // START panel
    .container-fluid(cg-busy="busy")
        dl.dl-horizontal
            dt ID
            dd {{hook.id}}
            dt Method
            dd {{hook.method}}
            dt Type
            dd {{hook.type}}
            dt Code
            dd {{hook.code}}
            dt Validated
            dd {{hook.validate}}
            dt Processed
            dd {{hook.processed}}
            dt Response
            dd
                pre {{hook.response|json}}
            dt Var GET
            dd
                pre {{hook.getData|json}}
            dt Var POST
            dd
                pre {{hook.postData|json}}
            dt Created At
            dd {{hook.createdAt}}
            dt Updated At
            dd {{hook.updatedAt}}