<content>
   <div class="app-view-header">{{headerTile}}
      <small>{{headerSubTile}}</small>
   </div>
   <!-- START panel-->
   <div cg-busy="busy" class="container-fluid">
      <dl class="dl-horizontal">
         <dt>ID</dt>
         <dd>{{subscription.id}}</dd>
         <dt>Active</dt>
         <dd>{{subscription.active}}</dd>
         <dt>Allow Legacy Renew</dt>
         <dd>{{subscription.allowLegacyRenew}}</dd>
         <dt>Billing Frequency</dt>
         <dd>{{subscription.billingFrequency}}</dd>
         <dt>Billing Period</dt>
         <dd>{{subscription.billingPeriod}}</dd>
         <dt>Currency Code</dt>
         <dd>{{subscription.currencyCode}}</dd>
         <dt>Courtesy</dt>
         <dd>{{subscription.courtesy}}</dd>
         <dt>Code</dt>
         <dd>{{subscription.code}}</dd>
         <dt>Description</dt>
         <dd>{{subscription.description}}</dd>
         <dt>Name</dt>
         <dd>{{subscription.name}}</dd>
         <dt>Type</dt>
         <dd>{{subscription.type}}</dd>
         <dt>Features</dt>
         <dd ng-repeat="feature in subscription.features">{{feature.description}} ({{feature.key}}) - {{feature.value}}</dd>
         <dt>Created At</dt>
         <dd>{{subscription.createdAt}}</dd>
         <dt>Updated At</dt>
         <dd>{{subscription.updatedAt}}</dd>
      </dl>
   </div>
</content>