content
    .app-view-header {{headerTile}}
        small {{headerSubTile}}
    // START panel
    .container-fluid
        .text-center
            p {{description}}

//.app-view-header
    //| Dashboard
    //small(ng-bind="app.name + ' - ' + app.description")
