content
    .app-view-header {{headerTile}}
        small {{headerSubTile}}
    // START panel
    .container-fluid
        table#users-table.table.table-hover.table-condensed(cg-busy='busy', ng-table='tableParams',show-filter='userPreferences.tables.showFilter')
            tr(ng-repeat="user in $data" ng-click="go(user,$event)")
                td(data-title="'ID'" filter="{ 'id': 'number'}" sortable="'id'")
                    |{{user.id}}
                td(data-title="'Email'" filter="{ 'email': 'text'}" sortable="'email'")
                    |{{user.email}}
                td(data-title="'Name'" filter="{ 'name': 'text'}" sortable="'name'")
                    |{{user.name}}
                td(data-title="'Created At'" filter="{ 'createdAt': 'text'}" sortable="'createdAt'")
                    |{{user.createdAt}}
