content
    .app-view-header {{headerTile}}
        small {{headerSubTile}}
    // START panel
    .container-fluid(cg-busy="busy")
        dl.dl-horizontal
            dt ID
            dd {{user.id}}
            dt Name
            dd {{user.name}}
            dt Email
            dd {{user.email}}
            dt Locale
            dd {{user.locale}}
            dt Timezone
            dd {{user.timezone}}
            dt Referral Link
            dd {{user.referralLink}}
            dt Business
            dd
                link-object(object='user.accountInfo')
                    | {{user.accountInfo.companyName}}
                    | ({{user.accountInfo.id}})
            dt Active Business
            dd
                link-object(object='user.activeBusinessUsers')
                    | ({{user.activeBusinessUsers.businessId}})
            dt Linked Businesses
            dd(ng-repeat='bu in user.businessUsers')
                link-object(object='bu')
                    | ({{bu.businessId}})
            dt Subscription
            dd
                link-object(object='user.subscription') {{user.subscription.name}}
            dt Created At
            dd {{user.createdAt}}
            dt Updated At
            dd {{user.updatedAt}}

        pre {{user|json}}