.container.container-sm.animated.fadeInDown
    .center-block.mt-xl
        .row
            .col-md-6.col-md-offset-3
                // START panel
                //img.center-block.img-rounded(src='images/logo-gray.png', alt='Image')
                .panel
                    .panel-body
                        p.pv.text-bold LOGIN CREDENTIALS
                        form.form(name='form', ng-submit='login(form)', novalidate='').mb-lg
                            .row
                                .col-md-6
                                    .form-group.has-feedback.mb
                                        input#loginEmail.form-control(type='email', placeholder='Your email', ng-model='user.email')
                                        span.fa.fa-envelope.form-control-feedback.text-muted
                                    br
                                    .form-group.has-feedback
                                        input#loginPassword.form-control(type='password', placeholder='Your password', ng-model='user.password')
                                        span.fa.fa-lock.form-control-feedback.text-muted
                                .col-md-6
                                    button.btn.btn-block.btn-info.mb(type='submit') Login
                .text-center.mt
                    a.text-muted(href="page.recover.html") Forgot your password?
                // END panel
                //.p-lg.text-center
                    hr
                    span.mr-sm &copy;
                    span.mr-sm 2015
                    span Naut
                    br
                    | Bootstrap + AngularJS

