//- div(ng-include='"components/navbar/navbar.html"')
.container
  .row
    .col-sm-12
      h1 Change Password
    .col-sm-12
      form.form(name='form', ng-submit='changePassword(form)', novalidate='')
        .form-group
          label Current Password
          input.form-control(type='password', name='password', ng-model='user.oldPassword', mongoose-error='')
          p.help-block(ng-show='form.password.$error.mongoose')
            | {{ errors.other }}
        .form-group
          label New Password
          input.form-control(type='password', name='newPassword', ng-model='user.newPassword', ng-minlength='3', required='')
          p.help-block(ng-show='(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)')
            | Password must be at least 3 characters.

        p.help-block  {{ message }}

        button.btn.btn-lg.btn-primary(type='submit') Save changes
