<content>
   <div class="app-view-header">{{headerTile}}
      <small>{{headerSubTile}}</small>
   </div>
   <!-- START panel-->
   <div class="container-fluid">
      <table id="users-table" cg-busy="busy" ng-table="tableParams" show-filter="userPreferences.tables.showFilter" class="table table-hover table-condensed">
         <tr ng-repeat="user in $data" ng-click="go(user,$event)">
            <td data-title="'ID'" filter="{ 'id': 'number'}" sortable="'id'">{{user.id}}</td>
            <td data-title="'Email'" filter="{ 'email': 'text'}" sortable="'email'">{{user.email}}</td>
            <td data-title="'Name'" filter="{ 'name': 'text'}" sortable="'name'">{{user.name}}</td>
            <td data-title="'Created At'" filter="{ 'createdAt': 'text'}" sortable="'createdAt'">{{user.createdAt}}</td>
         </tr>
      </table>
   </div>
</content>