<content>
   <div class="app-view-header">{{headerTile}}
      <small>{{headerSubTile}}</small>
   </div>
   <!-- START panel-->
   <div cg-busy="busy" class="container-fluid">
      <dl class="dl-horizontal">
         <dt>ID</dt>
         <dd>{{user.id}}</dd>
         <dt>Name</dt>
         <dd>{{user.name}}</dd>
         <dt>Email</dt>
         <dd>{{user.email}}</dd>
         <dt>Locale</dt>
         <dd>{{user.locale}}</dd>
         <dt>Timezone</dt>
         <dd>{{user.timezone}}</dd>
         <dt>Referral Link</dt>
         <dd>{{user.referralLink}}</dd>
         <dt>Business</dt>
         <dd>
            <link-object object="user.accountInfo">{{user.accountInfo.companyName}} ({{user.accountInfo.id}})
            </link-object>
         </dd>
         <dt>Active Business</dt>
         <dd>
            <link-object object="user.activeBusinessUsers">({{user.activeBusinessUsers.businessId}})</link-object>
         </dd>
         <dt>Linked Businesses</dt>
         <dd ng-repeat="bu in user.businessUsers">
            <link-object object="bu">({{bu.businessId}})</link-object>
         </dd>
         <dt>Subscription</dt>
         <dd>
            <link-object object="user.subscription">{{user.subscription.name}}</link-object>
         </dd>
         <dt>Created At</dt>
         <dd>{{user.createdAt}}</dd>
         <dt>Updated At</dt>
         <dd>{{user.updatedAt}}</dd>
      </dl>
      <pre>{{user|json}}</pre>
   </div>
</content>