<content>
   <div class="app-view-header">{{headerTile}}
      <small>{{headerSubTile}}</small>
   </div>
   <!-- START panel-->
   <div class="container-fluid">
      <table id="business-subscriptions-table" cg-busy="busy" ng-table="tableParams" show-filter="userPreferences.tables.showFilter" class="table table-hover table-condensed">
         <tr ng-repeat="businessSubscription in $data" ng-click="go(businessSubscription,$event)">
            <td data-title="'ID'" filter="{ 'id': 'number'}" sortable="'id'">{{businessSubscription.id}}</td>
            <td data-title="'Business'" filter="{ 'business.id': 'text'}" sortable="'business.id'">
               <link-object object="businessSubscription.business">{{businessSubscription.business.id}}</link-object>
            </td>
            <td data-title="'Method'" filter="{ 'paymentMethod': 'text'}" sortable="'paymentMethod'">{{businessSubscription.paymentMethod}}</td>
            <td data-title="'Status'" filter="{ 'status': 'text'}" sortable="'status'">{{businessSubscription.status}}</td>
            <td data-title="'Subscription'" filter="{ 'subscription.id': 'text'}" sortable="'subscription.id'">
               <link-object object="businessSubscription.subscription">{{businessSubscription.subscription.id}}</link-object>
            </td>
            <td data-title="'Discount'" filter="{ 'discount.id': 'text'}" sortable="'discount.id'">
               <link-object object="businessSubscription.business">{{businessSubscription.discount.id}}</link-object>
            </td>
            <td data-title="'Created At'" filter="{ 'createdAt': 'text'}" sortable="'createdAt'">{{businessSubscription.createdAt}}</td>
         </tr>
      </table>
   </div>
</content>