<content>
   <div class="app-view-header">{{headerTile}}
      <small>{{headerSubTile}}</small>
   </div>
   <!-- START panel-->
   <div cg-busy="busy" class="container-fluid">
      <dl class="dl-horizontal">
         <dt>ID</dt>
         <dd>{{businessSubscription.id}}</dd>
         <dt>Name</dt>
         <dd>{{businessSubscription.companyName}}</dd>
         <dt>Status</dt>
         <dd>{{businessSubscription.status}}</dd>
         <dt>Payment Method</dt>
         <dd>{{businessSubscription.paymentMethod}}</dd>
         <dt>Cost</dt>
         <dd>{{businessSubscription.cost}}</dd>
         <dt>Start Date</dt>
         <dd>{{businessSubscription.startDate}}</dd>
         <dt>End Date</dt>
         <dd>{{businessSubscription.endDate}}</dd>
         <dt>Success</dt>
         <dd>{{businessSubscription.success}}</dd>
         <dt>Paypal Profile Id</dt>
         <dd>{{businessSubscription.paypalProfileId}}</dd>
         <dt>PagSeguro Code</dt>
         <dd>{{businessSubscription.pagseguroCode}}</dd>
         <dt>Business</dt>
         <dd>
            <link-object object="businessSubscription.business">{{businessSubscription.business.id}}</link-object>
         </dd>
         <dt>Subscription</dt>
         <dd>
            <link-object object="businessSubscription.subscription">{{businessSubscription.subscription.id}}</link-object>
         </dd>
         <dt>Discount</dt>
         <dd>
            <link-object object="businessSubscription.discount">{{businessSubscription.discount.id}}</link-object>
         </dd>
         <dt>Payments</dt>
         <dd ng-repeat="payment in businessSubscription.payments">
            <ul>
               <li>{{payment.status}}
                  <link-object object="payment">({{payment.id}})</link-object>
               </li>
            </ul>
         </dd>
         <dt>Created At</dt>
         <dd>{{businessSubscription.createdAt}}</dd>
         <dt>Updated At</dt>
         <dd>{{businessSubscription.updatedAt}}</dd>
      </dl>
      <button ng-click="refreshStatus()">Update Status</button>
      <pre>{{statusResponse|json}}</pre>
   </div>
</content>