content
    .app-view-header {{headerTile}}
        small {{headerSubTile}}
    // START panel
    .container-fluid
        table#curls-table.table.table-hover.table-condensed(cg-busy='busy' ng-table='tableParams')
            tr(ng-repeat="curl in $data" ng-click="go(curl,$event)")
                td(data-title="'ID'" filter="{ 'id': 'number'}" sortable="'id'")
                    | {{curl.id}}
                td(data-title="'Server'" filter="{ 'server': 'text'}" sortable="'server'")
                    | {{curl.server}}
                td(data-title="'User ID'" filter="{ 'userId': 'number'}" sortable="'userId'")
                    |{{curl.userId}}
                td(data-title="'URL'" filter="{ 'url': 'text'}" sortable="'url'")
                    |{{curl.url | limitTo:30}}
                td(data-title="'Created At'" filter="{ 'createdAt': 'text'}" sortable="'createdAt'")
                    |{{curl.createdAt}}