content
    .app-view-header {{headerTile}}
        small {{headerSubTile}}
    // START panel
    .container-fluid(cg-busy="busy")
        dl.dl-horizontal
            dt ID
            dd {{curlRequest.id}}
            dt User ID
            dd {{curlRequest.userId}}
            dt Server
            dd {{curlRequest.server}}
            dt URL
            dd {{curlRequest.url}}
            dt Post Data RAW
            dd
                pre {{curlRequest.postData}}
            dt Response
            dd
                pre {{curlRequest.response}}
            dt Created At
            dd {{curlRequest.createdAt}}