<content>
   <div class="app-view-header">{{headerTile}}
      <small>{{headerSubTile}}</small>
   </div>
   <!-- START panel-->
   <div class="container-fluid">
      <table id="payments-table" cg-busy="busy" ng-table="tableParams" show-filter="userPreferences.tables.showFilter" class="table table-hover table-condensed">
         <tr ng-repeat="payment in $data" ng-click="go(payment,$event)">
            <td data-title="'ID'" filter="{ 'id': 'number'}" sortable="'id'">{{payment.id}}</td>
            <td data-title="'Value'" filter="{ 'value': 'number'}" sortable="'value'">{{payment.value|number:2}} {{payment.currencyCode}}</td>
            <td data-title="'Status'" filter="{ 'status': 'text'}" sortable="'status'">{{payment.status}}</td>
            <td data-title="'Method'" filter="{ 'method': 'text'}" sortable="'method'">{{payment.method}}</td>
            <td data-title="'Discount'" filter="{ 'discount.name': 'text'}" sortable="'discount.name'">{{payment.discount.name}}</td>
            <td data-title="'Created At'" filter="{ 'createdAt': 'text'}" sortable="'createdAt'">{{payment.createdAt}}</td>
            <td data-title="'Updated At'" filter="{ 'updatedAt': 'text'}" sortable="'updatedAt'">{{payment.updatedAt}}</td>
         </tr>
      </table>
   </div>
</content>