<content>
   <div class="app-view-header">{{headerTile}}
      <small>{{headerSubTile}}</small>
   </div>
   <!-- START panel-->
   <div cg-busy="busy" class="container-fluid">
      <dl class="dl-horizontal">
         <dt>ID</dt>
         <dd>{{payment.id}}</dd>
         <dt>Method</dt>
         <dd>{{payment.method}}</dd>
         <dt>Value</dt>
         <dd>{{payment.value}} {{payment.currencyCode}}</dd>
         <dt>External Token</dt>
         <dd>{{payment.externalToken}}</dd>
         <dt>Status</dt>
         <dd>{{payment.status}}</dd>
         <dt>Business Subscription</dt>
         <dd>
            <link-object object="payment.businessSubscription">{{payment.businessSubscription.id}}</link-object>
         </dd>
         <dt>Created At</dt>
         <dd>{{payment.createdAt}}</dd>
         <dt>Updated At</dt>
         <dd>{{payment.updatedAt}}</dd>
      </dl>
      <button ng-click="refreshStatus()">Update Status</button>
      <pre>{{statusResponse|json}}</pre>
   </div>
</content>