// START Top Navbar
nav.navbar.topnavbar(role='navigation', ng-controller="HeaderNavController as header")

  // START navbar header
  .navbar-header
    a.navbar-brand(ui-sref='app.dashboard') 
      img.brand-logo(src="app/img/logo.png", alt="App Logo")
    // Mobile buttons
    .mobile-toggles
      // Button to show/hide the sidebar on mobile. Visible on mobile only.
      a(href='', ng-click="app.sidebar.isOffscreen = !app.sidebar.isOffscreen").sidebar-toggle
        em.fa.fa-navicon
      // Button to show/hide the header menu on mobile. Visible on mobile only.
      a(href='', ng-click="header.toggleHeaderMenu()").menu-toggle.hidden-material
        em.fa.fa-ellipsis-v.fa-fw
  // END navbar header

  // START Nav wrapper
  .nav-wrapper.collapse.navbar-collapse(uib-collapse="header.headerMenuCollapsed")
    // START Left navbar
    ul.nav.navbar-nav.hidden-material
      li
        // Button used to collapse the left sidebar. Only visible on tablet and desktops
        a(href='', ng-click="app.sidebar.isOffscreen = !app.sidebar.isOffscreen").hidden-xs
          em.fa(ng-class="app.sidebar.isOffscreen ? 'fa-caret-right':'fa-caret-left'")
    // END Left navbar
  // END Nav wrapper



// END Top Navbar