content
    .app-view-header {{headerTile}}
        small {{headerSubTile}}
    // START panel
    .container-fluid(cg-busy="busy")
        dl.dl-horizontal
            dt ID
            dd {{trace.id}}
            dt Agent
            dd {{trace.agent}}
            dt Version
            dd {{trace.version}}
            dt Client IP
            dd {{trace.clientIp}}
            dt Proxy IP
            dd {{trace.proxy}}
            dt User Id
            dd {{trace.userId}}
            dt Token Id
            dd {{trace.tokenId}}
            dt Method
            dd {{trace.method}}
            dt Endpoint
            dd {{trace.endpoint}}
            dt Response Code
            dd {{trace.responseCode}}
            dt Result
            dd
                span(ng-show="trace.hasResponse") Response
                span(ng-show="trace.hasException") Exception
            dt Response
            dd
                pre {{trace.response|json}}
            dt Exception
            dd
                pre {{trace.exception|json}}
            dt Var GET
            dd
                pre {{trace.varGet|json}}
            dt Var POST
            dd
                pre {{trace.varPost|json}}
            dt Var Body
            dd
                pre {{trace.varBody|json}}
            dt Created At
            dd {{trace.createdAt}}

