<div class="container container-sm animated fadeInDown">
   <div class="center-block mt-xl">
      <div class="row">
         <div class="col-md-6 col-md-offset-3">
            <!-- START panel-->
            <!--img.center-block.img-rounded(src='images/logo-gray.png', alt='Image')-->
            <div class="panel">
               <div class="panel-body">
                  <p class="pv text-bold">LOGIN CREDENTIALS</p>
                  <form name="form" ng-submit="login(form)" novalidate="" class="form mb-lg">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="form-group has-feedback mb">
                              <input id="loginEmail" type="email" placeholder="Your email" ng-model="user.email" class="form-control" />
                              <span class="fa fa-envelope form-control-feedback text-muted"></span>
                           </div>
                           <br/>
                           <div class="form-group has-feedback">
                              <input id="loginPassword" type="password" placeholder="Your password" ng-model="user.password" class="form-control" />
                              <span class="fa fa-lock form-control-feedback text-muted"></span>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <button type="submit" class="btn btn-block btn-info mb">Login</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
            <div class="text-center mt"><a href="page.recover.html" class="text-muted">Forgot your password?</a>
            </div>
            <!-- END panel-->
            <!--.p-lg.text-centerhr
span.mr-sm &copy;
span.mr-sm 2015
span Naut
br
| Bootstrap + AngularJS-->
         </div>
      </div>
   </div>
</div>