content
    .app-view-header {{headerTile}}
        small {{headerSubTile}}
    // START panel
    .container-fluid
        table#configurations-table.table.table-hover.table-condensed(cg-busy='busy' ng-table='tableParams')
            tr(ng-repeat="configuration in $data" ng-click="go(configuration,$event)")
                td.text-center(data-title="'ID'" filter="{ 'id': 'number'}" sortable="'id'")
                    |{{configuration.id}}
                td.text-center(data-title="'Key'" filter="{ 'key': 'text'}" sortable="'key'")
                    |{{configuration.key}}
                td.text-center(data-title="'Value'" filter="{ 'value': 'text'}" sortable="'value'")
                    |{{configuration.value}}
                td.text-center(data-title="'Group'" filter="{ 'group': 'text'}" sortable="'group'")
                    |{{configuration.group}}