<content>
   <div class="app-view-header">{{headerTile}}
      <small>{{headerSubTile}}</small>
   </div>
   <!-- START panel-->
   <div class="container-fluid">
      <table id="configurations-table" cg-busy="busy" ng-table="tableParams" class="table table-hover table-condensed">
         <tr ng-repeat="configuration in $data" ng-click="go(configuration,$event)">
            <td data-title="'ID'" filter="{ 'id': 'number'}" sortable="'id'" class="text-center">{{configuration.id}}</td>
            <td data-title="'Key'" filter="{ 'key': 'text'}" sortable="'key'" class="text-center">{{configuration.key}}</td>
            <td data-title="'Value'" filter="{ 'value': 'text'}" sortable="'value'" class="text-center">{{configuration.value}}</td>
            <td data-title="'Group'" filter="{ 'group': 'text'}" sortable="'group'" class="text-center">{{configuration.group}}</td>
         </tr>
      </table>
   </div>
</content>