content
    .app-view-header {{headerTile}}
        small {{headerSubTile}}
    // START panel
    .container-fluid
        table#notifications-table.table.table-hover.table-condensed(cg-busy='busy', ng-table='tableParams', show-filter='userPreferences.tables.showFilter')
            tr(ng-repeat="notification in $data" ng-click="go(notification,$event)")
                td(data-title="'ID'" filter="{ 'id': 'number'}" sortable="'id'")
                    |{{notification.id}}
                td(data-title="'Request Curl Id'" filter="{ 'requestCurlId': 'text'}" sortable="'requestCurlId'")
                    |{{notification.requestCurlId}}
                td(data-title="'User Device'" filter="{ 'usersDevice': 'text'}")
                    |{{notification.usersDevice}}
                td(data-title="'Created At'" filter="{ 'createdAt': 'text'}" sortable="'createdAt'")
                    |{{notification.createdAt}}