content
    .app-view-header {{headerTile}}
        small {{headerSubTile}}
    // START panel
    .container-fluid(cg-busy="busy")
        dl.dl-horizontal
            dt ID
            dd {{cloudNotification.id}}
            dt requestCurlId
            dd {{cloudNotification.requestCurlId}}
            dt Request Curl
            dd
                pre {{cloudNotification.requestCurl|json}}
            dt Users Device
            dd
                pre {{cloudNotification.usersDevice|json}}
            dt Created At
            dd {{cloudNotification.createdAt}}