<content>
   <div class="app-view-header">{{headerTile}}
      <small>{{headerSubTile}}</small>
   </div>
   <!-- START panel-->
   <div class="container-fluid">
      <table id="hooks-table" cg-busy="busy" ng-table="tableParams" show-filter="userPreferences.tables.showFilter" class="table table-hover table-condensed">
         <tr ng-repeat="hook in $data" ng-click="go(hook,$event)">
            <td data-title="'ID'" filter="{ 'id': 'number'}" sortable="'id'">{{hook.id}}</td>
            <td data-title="'Method'" filter="{ 'method': 'text'}" sortable="'method'">{{hook.method}}</td>
            <td data-title="'Type'" filter="{ 'type': 'text'}" sortable="'type'">{{hook.type}}</td>
            <td data-title="'Code'" filter="{ 'code': 'text'}" sortable="'code'">{{hook.code}}</td>
            <td data-title="'Validated'" filter="{ 'validated': 'text'}" sortable="'validated'">{{hook.validated}}</td>
            <td data-title="'Processed'" filter="{ 'processed': 'text'}" sortable="'processed'">{{hook.processed}}</td>
            <td data-title="'Updated At'" filter="{ 'updatedAt': 'text'}" sortable="'updatedAt'">{{hook.updatedAt}}</td>
            <td data-title="'Created At'" filter="{ 'createdAt': 'text'}" sortable="'createdAt'">{{hook.createdAt}}</td>
         </tr>
      </table>
   </div>
</content>