<content>
   <div class="app-view-header">{{headerTile}}
      <small>{{headerSubTile}}</small>
   </div>
   <!-- START panel-->
   <div cg-busy="busy" class="container-fluid">
      <dl class="dl-horizontal">
         <dt>ID</dt>
         <dd>{{hook.id}}</dd>
         <dt>Method</dt>
         <dd>{{hook.method}}</dd>
         <dt>Type</dt>
         <dd>{{hook.type}}</dd>
         <dt>Code</dt>
         <dd>{{hook.code}}</dd>
         <dt>Validated</dt>
         <dd>{{hook.validate}}</dd>
         <dt>Processed</dt>
         <dd>{{hook.processed}}</dd>
         <dt>Response</dt>
         <dd>
            <pre>{{hook.response|json}}</pre>
         </dd>
         <dt>Var GET</dt>
         <dd>
            <pre>{{hook.getData|json}}</pre>
         </dd>
         <dt>Var POST</dt>
         <dd>
            <pre>{{hook.postData|json}}</pre>
         </dd>
         <dt>Created At</dt>
         <dd>{{hook.createdAt}}</dd>
         <dt>Updated At</dt>
         <dd>{{hook.updatedAt}}</dd>
      </dl>
   </div>
</content>