<content>
   <div class="app-view-header">{{headerTile}}
      <small>{{headerSubTile}}</small>
   </div>
   <!-- START panel-->
   <div class="container-fluid">
      <table id="curls-table" cg-busy="busy" ng-table="tableParams" class="table table-hover table-condensed">
         <tr ng-repeat="curl in $data" ng-click="go(curl,$event)">
            <td data-title="'ID'" filter="{ 'id': 'number'}" sortable="'id'">{{curl.id}}</td>
            <td data-title="'Server'" filter="{ 'server': 'text'}" sortable="'server'">{{curl.server}}</td>
            <td data-title="'User ID'" filter="{ 'userId': 'number'}" sortable="'userId'">{{curl.userId}}</td>
            <td data-title="'URL'" filter="{ 'url': 'text'}" sortable="'url'">{{curl.url | limitTo:30}}</td>
            <td data-title="'Created At'" filter="{ 'createdAt': 'text'}" sortable="'createdAt'">{{curl.createdAt}}</td>
         </tr>
      </table>
   </div>
</content>