<content>
   <div class="app-view-header">{{headerTile}}
      <small>{{headerSubTile}}</small>
   </div>
   <!-- START panel-->
   <div cg-busy="busy" class="container-fluid">
      <dl class="dl-horizontal">
         <dt>ID</dt>
         <dd>{{curlRequest.id}}</dd>
         <dt>User ID</dt>
         <dd>{{curlRequest.userId}}</dd>
         <dt>Server</dt>
         <dd>{{curlRequest.server}}</dd>
         <dt>URL</dt>
         <dd>{{curlRequest.url}}</dd>
         <dt>Post Data RAW</dt>
         <dd>
            <pre>{{curlRequest.postData}}</pre>
         </dd>
         <dt>Response</dt>
         <dd>
            <pre>{{curlRequest.response}}</pre>
         </dd>
         <dt>Created At</dt>
         <dd>{{curlRequest.createdAt}}</dd>
      </dl>
   </div>
</content>