doctype html

<!--[if IE 9 ]>    <html class="ie9" lang="en" ng-app="ultra"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
html(lang="en", ng-app="ultra")
    <!--<![endif]-->

    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

        meta(name='description', content='{{app.description}}')
        meta(name='keywords', content='app, responsive, angular, bootstrap, dashboard, admin')

        title(data-ng-bind="pageTitle()")
        link(rel='icon', type='image/png', href='app/img/favicon.png')
        // build:css app/css/application.css
        link(rel='stylesheet', href="app/css/bootstrap.css")
        link(rel='stylesheet', href="vendor/angular-busy/dist/angular-busy.css")
        link(rel='stylesheet', href="vendor/ng-table/dist/ng-table.css")
        link#mainstyles(rel='stylesheet', href="app/css/styles.css")
        // endbuild

    body(ng-cloak='', ng-class="{ 'layout-fixed' : app.layout.isFixed, 'layout-boxed' : app.layout.isBoxed, 'layout-dock' : app.layout.isDocked, 'layout-material': app.layout.isMaterial, 'aside-offscreen' : app.sidebar.isOffscreen, 'aside-mini' : app.sidebar.isMini, 'aside-right' : app.sidebar.isRight, 'footer-hidden': app.footer.hidden, 'in-app': !$state.includes('page')}")
        toaster-container
        .app-container(data-ui-view="", data-autoscroll='false', ng-controller="CoreController")

        // build:vendor app/js/vendor.js
        script(src="vendor/modernizr/modernizr.custom.js")
        //- script(src="vendor/jquery/dist/jquery.js")
        script(src="vendor/angular/angular.js")
        script(src="vendor/angular-route/angular-route.js")
        script(src="vendor/angular-cookies/angular-cookies.js")
        script(src="vendor/angular-animate/angular-animate.js")
        script(src="vendor/angular-touch/angular-touch.js")
        script(src="vendor/angular-sanitize/angular-sanitize.js")
        script(src="vendor/angular-resource/angular-resource.js")
        script(src="vendor/angular-translate/angular-translate.js")
        script(src="vendor/ngstorage/ngStorage.js")
        script(src="vendor/angular-ui-router/release/angular-ui-router.js")
        script(src="vendor/angular-ui-utils/index.js")
        script(src="vendor/angular-ui-mask/dist/mask.js")
        script(src="vendor/angular-ui-event/dist/event.js")
        script(src="vendor/angular-ui-validate/dist/validate.js")
        script(src="vendor/angular-ui-indeterminate/dist/indeterminate.js")
        script(src="vendor/angular-ui-scrollpoint/dist/scrollpoint.js")
        script(src="vendor/angular-ui-scroll/dist/ui-scroll.js")
        script(src="vendor/angular-ui-uploader/dist/uploader.js")
        script(src="vendor/angular-translate-loader-url/angular-translate-loader-url.js")
        script(src="vendor/angular-translate-loader-static-files/angular-translate-loader-static-files.js")
        script(src="vendor/angular-translate-storage-local/angular-translate-storage-local.js")
        script(src="vendor/angular-translate-storage-cookie/angular-translate-storage-cookie.js")
        script(src="vendor/angular-bootstrap/ui-bootstrap-tpls.js")
        script(src="vendor/oclazyload/dist/ocLazyLoad.js")
        script(src="vendor/angular-busy/dist/angular-busy.js")
        script(src="vendor/ng-table/dist/ng-table.js")
        script(src="vendor/angular-loading-bar/build/loading-bar.js")
        script(src="vendor/angularjs-toaster/toaster.js")
        // endbuild
        // build:js app/js/application.js
        - each js in scripts
            script(src=js)
        script(src='app/js/templates.js')
        // endbuild
