<content>
   <div class="app-view-header">{{headerTile}}
      <small>{{headerSubTile}}</small>
   </div>
   <!-- START panel-->
   <div cg-busy="busy" class="container-fluid">
      <dl class="dl-horizontal">
         <dt>ID</dt>
         <dd>{{business.id}}</dd>
         <dt>Name</dt>
         <dd>{{business.companyName}}</dd>
         <dt>FTE Size</dt>
         <dd>{{business.fteSize.name}}</dd>
         <dt>Industry Main</dt>
         <dd>{{business.industryMain.name }}</dd>
         <dt>Industry Sector</dt>
         <dd>{{business.industrySector.name}}</dd>
         <dt>Contact User</dt>
         <dd>
            <link-object object="business.contactUser">{{business.contactUser.name}}</link-object>
         </dd>
         <dt>Business Subscriptions</dt>
         <dd ng-repeat="busSubscription in business.businessSubscriptions">
            <ul>
               <li>Status: {{busSubscription.status}}
                  <link-object object="busSubscription">({{busSubscription.id}})</link-object>
               </li>
               <li>Success: {{busSubscription.success}}</li>
               <li>End: {{busSubscription.endDate}}</li>
               <li>
                  <link-object object="busSubscription.subscription">{{busSubscription.subscription.name}}</link-object>
               </li>
            </ul>
         </dd>
         <dt>Created At</dt>
         <dd>{{business.createdAt}}</dd>
         <dt>Updated At</dt>
         <dd>{{business.updatedAt}}</dd>
      </dl>
   </div>
</content>