content
    .app-view-header {{headerTile}}
        small {{headerSubTile}}
    // START panel
    .container-fluid
        table#business-subscriptions-table.table.table-hover.table-condensed(cg-busy='busy', ng-table='tableParams',show-filter='userPreferences.tables.showFilter')
            tr(ng-repeat="businessSubscription in $data" ng-click="go(businessSubscription,$event)")
                td(data-title="'ID'" filter="{ 'id': 'number'}" sortable="'id'")
                    | {{businessSubscription.id}}
                td(data-title="'Business'" filter="{ 'business.id': 'text'}" sortable="'business.id'")
                    link-object(object='businessSubscription.business') {{businessSubscription.business.id}}
                td(data-title="'Method'" filter="{ 'paymentMethod': 'text'}" sortable="'paymentMethod'")
                    | {{businessSubscription.paymentMethod}}
                td(data-title="'Status'" filter="{ 'status': 'text'}" sortable="'status'")
                    | {{businessSubscription.status}}
                td(data-title="'Subscription'" filter="{ 'subscription.id': 'text'}" sortable="'subscription.id'")
                    link-object(object='businessSubscription.subscription') {{businessSubscription.subscription.id}}
                td(data-title="'Discount'" filter="{ 'discount.id': 'text'}" sortable="'discount.id'")
                    link-object(object='businessSubscription.business') {{businessSubscription.discount.id}}
                td(data-title="'Created At'" filter="{ 'createdAt': 'text'}" sortable="'createdAt'")
                    | {{businessSubscription.createdAt}}