content
    .app-view-header {{headerTile}}
        small {{headerSubTile}}
    // START panel
    .container-fluid(cg-busy="busy")
        dl.dl-horizontal
            dt ID
            dd {{businessSubscription.id}}
            dt Name
            dd {{businessSubscription.companyName}}
            dt Status
            dd {{businessSubscription.status}}
            dt Payment Method
            dd {{businessSubscription.paymentMethod}}
            dt Cost
            dd {{businessSubscription.cost}}
            dt Start Date
            dd {{businessSubscription.startDate}}
            dt End Date
            dd {{businessSubscription.endDate}}
            dt Success
            dd {{businessSubscription.success}}
            dt Paypal Profile Id
            dd {{businessSubscription.paypalProfileId}}
            dt PagSeguro Code
            dd {{businessSubscription.pagseguroCode}}
            dt Business
            dd
                link-object(object='businessSubscription.business') {{businessSubscription.business.id}}
            dt Subscription
            dd
                link-object(object='businessSubscription.subscription') {{businessSubscription.subscription.id}}
            dt Discount
            dd
                link-object(object='businessSubscription.discount') {{businessSubscription.discount.id}}
            dt Payments
            dd(ng-repeat='payment in businessSubscription.payments')
                ul
                    li
                        |{{payment.status}}
                        link-object(object='payment') ({{payment.id}})
            dt Created At
            dd {{businessSubscription.createdAt}}
            dt Updated At
            dd {{businessSubscription.updatedAt}}

        button(ng-click='refreshStatus()') Update Status
        pre {{statusResponse|json}}
