<content>
   <div class="app-view-header">{{headerTile}}
      <small>{{headerSubTile}}</small>
   </div>
   <!-- START panel-->
   <div cg-busy="busy" class="container-fluid">
      <ol>
         <li ng-repeat="line in logContent track by $index">{{line}}</li>
      </ol>
   </div>
</content>