content
    .app-view-header {{headerTile}}
        small {{headerSubTile}}
    // START panel
    .container-fluid
        table#discounts-table.table.table-hover.table-condensed(cg-busy='busy' ng-table='tableParams')
            tr(ng-repeat="discount in $data" ng-click="go(discount,$event)")
                td(data-title="'ID'" filter="{ 'id': 'number'}" sortable="'id'")
                    |{{discount.id}}
                td(data-title="'Description'" filter="{ 'description': 'text'}" )
                    | {{discount.description}}
                td(data-title="'Code'" filter="{ 'code': 'text'}" sortable="'code'")
                    |{{discount.code}}
                td(data-title="'Active'" filter="{ 'active': 'number'}" sortable="'active'")
                    | {{discount.active}}
                td(data-title="'Percentage'" filter="{ 'percentage': 'number'}" sortable="'percentage'")
                    |{{discount.percentage|number:2}}%
                td(data-title="'Deleted'" filter="{ 'deleted': 'number'}" sortable="'deleted'")
                    |{{discount.deleted}}
                td(data-title="'CreatedAt'" filter="{ 'createdAt': 'text'}" sortable="'createdAt'")
                    |{{discount.createdAt}}
                td(data-title="'CreatedAt'" filter="{ 'updatedAt': 'text'}" sortable="'updatedAt'")
                    |{{discount.updatedAt}}