<content>
   <div class="app-view-header">{{headerTile}}
      <small>{{headerSubTile}}</small>
   </div>
   <!-- START panel-->
   <div class="container-fluid">
      <table id="subscriptions-table" cg-busy="busy" ng-table="tableParams" class="table table-hover table-condensed">
         <tr ng-repeat="(key,val) in $data">
            <td data-title="'Key'" filter="{ 'key': 'text'}" sortable="'key'" class="text-center">{{key}}</td>
            <td data-title="'Value'" filter="{ 'val': 'text'}" sortable="'val'" class="text-center">{{val}}</td>
         </tr>
      </table>
   </div>
</content>