<content>
   <div class="app-view-header">{{headerTile}}
      <small>{{headerSubTile}}</small>
   </div>
   <!-- START panel-->
   <div cg-busy="busy" class="container-fluid">
      <dl class="dl-horizontal">
         <dt>ID</dt>
         <dd>{{trace.id}}</dd>
         <dt>Agent</dt>
         <dd>{{trace.agent}}</dd>
         <dt>Version</dt>
         <dd>{{trace.version}}</dd>
         <dt>Client IP</dt>
         <dd>{{trace.clientIp}}</dd>
         <dt>Proxy IP</dt>
         <dd>{{trace.proxy}}</dd>
         <dt>User Id</dt>
         <dd>{{trace.userId}}</dd>
         <dt>Token Id</dt>
         <dd>{{trace.tokenId}}</dd>
         <dt>Method</dt>
         <dd>{{trace.method}}</dd>
         <dt>Endpoint</dt>
         <dd>{{trace.endpoint}}</dd>
         <dt>Response Code</dt>
         <dd>{{trace.responseCode}}</dd>
         <dt>Result</dt>
         <dd>
            <span ng-show="trace.hasResponse">Response</span>
            <span ng-show="trace.hasException">Exception</span>
         </dd>
         <dt>Response</dt>
         <dd>
            <pre>{{trace.response|json}}</pre>
         </dd>
         <dt>Exception</dt>
         <dd>
            <pre>{{trace.exception|json}}</pre>
         </dd>
         <dt>Var GET</dt>
         <dd>
            <pre>{{trace.varGet|json}}</pre>
         </dd>
         <dt>Var POST</dt>
         <dd>
            <pre>{{trace.varPost|json}}</pre>
         </dd>
         <dt>Var Body</dt>
         <dd>
            <pre>{{trace.varBody|json}}</pre>
         </dd>
         <dt>Created At</dt>
         <dd>{{trace.createdAt}}</dd>
      </dl>
   </div>
</content>