<!-- START Sidebar-->
<div class="sidebar-wrapper">
   <div ui-sidebar="" class="sidebar">
      <div class="sidebar-nav">
         <ul class="nav">
            <!-- Iterates over all sidebar items-->
            <li class="nav-heading">
               <span translate="sidebar.heading.HEADER" class="text-muted">Main Navigation</span>
            </li>
            <li ng-class="{active:$state.includes('app.dashboard')}">
               <a ui-sref="app.dashboard" title="{{&quot;objects.HOME&quot;|translate}}" ripple="">
                  <em class="sidebar-item-icon fa fa-home fa-fw"></em>
                  <span>{{"objects.HOME"|translate}}</span>
               </a>
            </li>
            <li ng-class="{active:$state.includes('app.system')}">
               <a href="" title="{{&quot;objects.SYSTEM&quot;|translate}}" ripple="">
                  <em class="sidebar-item-icon fa fa-cogs fa-fw"></em>
                  <em class="sidebar-item-caret fa pull-right fa-angle-right"></em>
                  <span>{{"objects.SYSTEM"|translate}}</span>
               </a>
               <ul class="nav sidebar-subnav">
                  <li class="sidebar-subnav-header">
                     <a>
                        <em class="sidebar-item-icon fa fa-angle-right"></em>{{"objects.SYSTEM"|translate}}</a>
                  </li>
                  <li ui-sref-active="active">
                     <a ui-sref="app.system-configuration" title="{{&quot;objects.CONFIGURATION&quot;|translate}}" ripple="">
                        <em class="sidebar-item-icon"></em>
                        <span>{{"objects.CONFIGURATION"|translate}}</span>
                     </a>
                  </li>
                  <li ui-sref-active="active">
                     <a ui-sref="app.system-info" title="{{&quot;objects.SYSTEM_INFO&quot;|translate}}" ripple="">
                        <em class="sidebar-item-icon"></em>
                        <span>{{"objects.SYSTEM_INFO"|translate}}</span>
                     </a>
                  </li>
               </ul>
            </li>
            <li ng-class="{active:$state.includes('app.financial')}">
               <a href="" title="{{&quot;objects.FINANCIAL&quot;|translate}}" ripple="">
                  <em class="sidebar-item-icon fa fa-dollar fa-fw"></em>
                  <em class="sidebar-item-caret fa pull-right fa-angle-right"></em>
                  <span>{{"objects.FINANCIAL"|translate}}</span>
               </a>
               <ul class="nav sidebar-subnav">
                  <li class="sidebar-subnav-header">
                     <a>
                        <em class="sidebar-item-icon fa fa-angle-right"></em>{{"objects.FINANCIAL"|translate}}</a>
                  </li>
                  <li ui-sref-active="active">
                     <a ui-sref="app.financial-subscriptions" title="{{&quot;objects.SUBSCRIPTIONS&quot;|translate}}" ripple="">
                        <em class="sidebar-item-icon"></em>
                        <span>{{"objects.SUBSCRIPTIONS"|translate}}</span>
                     </a>
                  </li>
                  <li ui-sref-active="active">
                     <a ui-sref="app.financial-discounts" title="{{&quot;objects.DISCOUNTS&quot;|translate}}" ripple="">
                        <em class="sidebar-item-icon"></em>
                        <span>{{"objects.DISCOUNTS"|translate}}</span>
                     </a>
                  </li>
                  <li ui-sref-active="active">
                     <a ui-sref="app.financial-payments" title="{{&quot;objects.PAYMENTS&quot;|translate}}" ripple="">
                        <em class="sidebar-item-icon"></em>
                        <span>{{"objects.PAYMENTS"|translate}}</span>
                     </a>
                  </li>
               </ul>
            </li>
            <li ng-class="{active:$state.includes('app.users')}">
               <a href="" title="{{&quot;objects.USERS_MANAGEMENT&quot;|translate}}" ripple="">
                  <em class="sidebar-item-icon fa fa-users fa-fw"></em>
                  <em class="sidebar-item-caret fa pull-right fa-angle-right"></em>
                  <span>{{"objects.USERS_MANAGEMENT"|translate}}</span>
               </a>
               <ul class="nav sidebar-subnav">
                  <li class="sidebar-subnav-header">
                     <a>
                        <em class="sidebar-item-icon fa fa-angle-right"></em>{{"objects.USERS_MANAGEMENT"|translate}}</a>
                  </li>
                  <li ui-sref-active="active">
                     <a ui-sref="app.users-users" title="{{&quot;objects.USERS&quot;|translate}}" ripple="">
                        <em class="sidebar-item-icon"></em>
                        <span>{{"objects.USERS"|translate}}</span>
                     </a>
                  </li>
                  <li ui-sref-active="active">
                     <a ui-sref="app.users-businesses" title="{{&quot;objects.BUSINESSES&quot;|translate}}" ripple="">
                        <em class="sidebar-item-icon"></em>
                        <span>{{"objects.BUSINESSES"|translate}}</span>
                     </a>
                  </li>
                  <li ui-sref-active="active">
                     <a ui-sref="app.users-business-subscriptions" title="{{&quot;objects.BUSINESS_SUBSCRIPTIONS&quot;|translate}}" ripple="">
                        <em class="sidebar-item-icon"></em>
                        <span>{{"objects.BUSINESS_SUBSCRIPTIONS"|translate}}</span>
                     </a>
                  </li>
                  <li ui-sref-active="active"></li>
               </ul>
            </li>
            <li ng-class="{active:$state.includes('app.integrations')}">
               <a href="" title="{{&quot;objects.INTEGRATIONS&quot;|translate}}" ripple="">
                  <em class="sidebar-item-icon fa fa-exchange fa-fw"></em>
                  <em class="sidebar-item-caret fa pull-right fa-angle-right"></em>
                  <span>{{"objects.INTEGRATIONS"|translate}}</span>
               </a>
               <ul class="nav sidebar-subnav">
                  <li class="sidebar-subnav-header">
                     <a>
                        <em class="sidebar-item-icon fa fa-angle-right"></em>{{"objects.INTEGRATIONS"|translate}}</a>
                  </li>
                  <li ui-sref-active="active">
                     <a ui-sref="app.integrations-curlrequests" title="{{&quot;objects.CURL_REQUESTS&quot;|translate}}" ripple="">
                        <em class="sidebar-item-icon"></em>
                        <span>{{"objects.CURL_REQUESTS"|translate}}</span>
                     </a>
                  </li>
                  <li ui-sref-active="active">
                     <a ui-sref="app.integrations-cloudnotifications" title="{{&quot;objects.NOTIFICATIONS_CLOUD&quot;|translate}}" ripple="">
                        <em class="sidebar-item-icon"></em>
                        <span>{{"objects.NOTIFICATIONS_CLOUD"|translate}}</span>
                     </a>
                  </li>
                  <li ui-sref-active="active">
                     <a ui-sref="app.integrations-hooks" title="{{&quot;objects.HOOKS&quot;|translate}}" ripple="">
                        <em class="sidebar-item-icon"></em>
                        <span>{{"objects.HOOKS"|translate}}</span>
                     </a>
                  </li>
               </ul>
            </li>
            <li ng-class="{active:$state.includes('app.logs')}">
               <a href="" title="{{&quot;objects.LOGS&quot;|translate}}" ripple="">
                  <em class="sidebar-item-icon fa fa-file-text-o fa-fw"></em>
                  <em class="sidebar-item-caret fa pull-right fa-angle-right"></em>
                  <span>{{"objects.LOGS"|translate}}</span>
               </a>
               <ul class="nav sidebar-subnav">
                  <li class="sidebar-subnav-header">
                     <a>
                        <em class="sidebar-item-icon fa fa-angle-right"></em>{{"objects.LOGS"|translate}}</a>
                  </li>
                  <li ui-sref-active="active">
                     <a ui-sref="app.logs-log-files" title="{{&quot;objects.LOG_FILES&quot;|translate}}" ripple="">
                        <em class="sidebar-item-icon"></em>
                        <span>{{"objects.LOG_FILES"|translate}}</span>
                     </a>
                  </li>
                  <li ui-sref-active="active">
                     <a ui-sref="app.logs-traces" title="{{&quot;objects.TRACES&quot;|translate}}" ripple="">
                        <em class="sidebar-item-icon"></em>
                        <span>{{"objects.TRACES"|translate}}</span>
                     </a>
                  </li>
               </ul>
            </li>
            <li ng-class="{active:$state.includes('auth.logout')}">
               <a ui-sref="auth.logout" title="{{&quot;actions.LOGOUT&quot;|translate}}" ripple="">
                  <em class="sidebar-item-icon fa i fa fa-sign-out fa-fw"></em>
                  <span>{{"actions.LOGOUT"|translate}}</span>
               </a>
            </li>
         </ul>
      </div>
   </div>
</div>
<!-- END Sidebar-->