content
    .app-view-header {{headerTile}}
        small {{headerSubTile}}
    // START panel
    .container-fluid
        table#businessses-table.table.table-hover.table-condensed(cg-busy='busy', ng-table='tableParams',show-filter='userPreferences.tables.showFilter')
            tr(ng-repeat="business in $data" ng-click="go(business,$event)")
                td(data-title="'ID'" filter="{ 'id': 'number'}" sortable="'id'")
                    | {{business.id}}
                td(data-title="'Industry'" filter="{ 'industryMain': 'text'}" sortable="'industryMain'")
                    | {{business.industryMain.name}}
                td(data-title="'Name'" filter="{ 'companyName': 'text'}" sortable="'companyName'")
                    | {{business.companyName.name}}
                td(data-title="'Sector'" filter="{ 'industrySector': 'text'}" sortable="'industrySector'")
                    | {{business.industrySector.name}}
                td(data-title="'Size'" filter="{ 'fteSize': 'text'}" sortable="'fteSize'")
                    | {{business.fteSize.name}}
                td(data-title="'Created At'" filter="{ 'createdAt': 'text'}" sortable="'createdAt'")
                    | {{business.createdAt}}