content
    .app-view-header {{headerTile}}
        small {{headerSubTile}}
    // START panel
    .container-fluid(cg-busy="busy")
        dl.dl-horizontal
            dt ID
            dd {{business.id}}
            dt Name
            dd {{business.companyName}}
            dt FTE Size
            dd {{business.fteSize.name}}
            dt Industry Main
            dd {{business.industryMain.name }}
            dt Industry Sector
            dd {{business.industrySector.name}}
            dt Contact User
            dd
                link-object(object='business.contactUser') {{business.contactUser.name}}
            dt Business Subscriptions
            dd(ng-repeat='busSubscription in business.businessSubscriptions')
                ul
                    li Status: {{busSubscription.status}}
                        link-object(object='busSubscription') ({{busSubscription.id}})
                    li Success: {{busSubscription.success}}
                    li End: {{busSubscription.endDate}}
                    li
                        link-object(object='busSubscription.subscription') {{busSubscription.subscription.name}}
            dt Created At
            dd {{business.createdAt}}
            dt Updated At
            dd {{business.updatedAt}}
